---
layout: default
title: New Life Wesleyan Church
---

<header id="header" class="home-parallax home-fade dark-bg header-inner">
    <div class="color-overlay"></div>
    <div class="container">
        <h1>LATEST UPDATES</h1>
        <div class="breadcrumb">
            <a href="/index.html">Home</a> <i class="fa fa-angle-double-right"></i> <a href="/blog.html">LATEST UPDATES</a>

        </div>
    </div>
</header>



<section id="blog-single" class="section blog blog-standard">
    <section class="archive-post-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {% for post in site.posts %}
                    {% assign currentDate = post.date | date: "%Y" %}
                    {% if currentDate != myDate %}
                    {% unless forloop.first %} {% endunless %}
                    <h1>{{ currentDate }}</h1>
                    <ul>
                        {% assign myDate = currentDate %}
                        {% endif %}
                        <li><h5>{{ post.date | date: "%b %d" }}<a href="{{ post.url }}"> {{ post.title }}</a></h5></li>
                        {% if forloop.last %}</ul>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>
