---
layout: default
image: /assets/front_matter_image.png
---

<header id="header" class="home-parallax home-fade dark-bg header-inner">
    <div class="color-overlay"></div>
    <div class="container">
        <h1>Blog</h1>
        <div class="breadcrumb">
            <a href="/index.html">Home</a> <i class="fa fa-angle-double-right"></i> <a href="/blog.html">Latest Updates </a>

        </div>
    </div>
</header>

<section id="blog-single" class="section blog blog-standard" class="responsive">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!--Blog Post-->
                <div class="row blog-post">
                    <div class="col-md-12">
                        <h2 class="spacing">{{ page.title }}</h2>
                        <br>
                        <p>{{ page.date | date: '%B %d, %Y' }}</p>
                        <br>

                        {{ content }}

                    </div>
                </div>
                <!--Blog Post end-->
            </div>
        </div>
    </div>
</section>